body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

#myVideo{
    height: 775px;


}

.myVideoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, h4, b {
    text-align: center;
    color: white;
}

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire viewport without distortion */
    z-index: -1; /* Places the video behind other content */
}
